.wrapper {
    margin-top: 15vh;
    .illustration {
        height: 50%;
        position: absolute;
        left: 50%;
        bottom: 10%;
        transform: translate3d(-50%, 0,0);
    }
    .container {
        width: 90%;
        height: 50%;
        position: absolute;
        left: 50%;
        bottom: 10%;
        transform: translate3d(-50%, 0,0);
        display: flex;
        justify-content: space-between;
        .left {
            height: 100%;
            display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        // border: 1px solid red;
        .leftCard {
            width: 30vw;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            p {
                width: 70%;
            }
        }
    }
    .right {
            // border: 1px solid blue;
            height: 100%;
            display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        .rightCard {
            width: 30vw;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            }
        }
    }
}