.wrapper {
    height: 40vh;
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
        height: 20%;
        filter: grayscale(1);
        transition: all ease 1s;
        &:hover {
            filter: grayscale(0);
        }
    }
}